
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Perpetua Titling MT';
    background-color : black;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
 
  header {
    background-color: black;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 100px; 
    height: 120px;
    object-fit: cover;
    position: sticky;
}


  .video-section {
    width: 100%;
    height: auto;
    margin: 50px;
    margin-top: -50px;
  }
  
  .video-section video {
    width: 100%;
    border-radius: 9px;
  }
  
 
  .product-info {
    text-align: center;
    width: 90%;
    max-width: 800px;
    margin: 1.0rem ;
  }
  
  .product-info h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: white;
  }
  
  .product-info p {
    font-size: 1.1rem;
    line-height: 1.5;
    color: white;
    font-family: 'Segoe UI';
    position: sticky;
  }
  
  
  .image-gallery {
    display: flex;
    justify-content: center;
    gap: 6rem;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1000px;
    margin: 3rem 0;
  }
  
  .image-gallery img {
    height: 300px;
    max-width: 300px;
    border-radius: 10px;
  }

 
.storytime-section {
  text-align: center;
  margin: 10px;
  padding: 2rem;
  background: black;
  border-radius: 8px;
}

.storytime-section h2 {
  font-size: 2rem;
  color: white;
  margin-bottom: 1rem;
  font-weight: bold;
}

.storytime-section p {
  font-size: 1.1rem;
  color: white;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.6;
  font-family: 'Segoe UI';
  margin-bottom: 150px;
  margin-top: 30px;
}

#link:link{
  color: white;
  text-decoration: none;
  font-family: 'Segoe UI';
  font-size: 1.4rem;
}
#link:visited{
  color: white;
}
#link:hover{
  color:red;
}

  
  @media (max-width: 600px) {
    .image-gallery img {
      width: 100%;
    }
  }
  
  
  footer {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 1rem;
    width: 100%;
    margin-top: 2rem;
    font-family: 'Segoe UI';
    margin-top: 150px;
  }